---
import Header from "../components/header/Header.astro";
import "../style/index.css";
import Main from "../components/main/main.astro";
import Footer from "../components/footer/Footer.astro";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Contribuir en proyectos aplicando mis conocimientos en Node.js, JRE y administración de sistemas operativos, impulsar la eficiencia y calidad del desarrollo de software, mientras continúo aprendiendo y adaptándome a nuevas tecnologías para ofrecer soluciones creativas y efectivas a problemas complejos."
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://joed98.github.io/Portafolio/" />
    <meta property="og:site_name" content="José Eduardo Hernández" />
    <meta property="og:title" content="José Eduardo Hernández Portafolio" />
    <meta
      property="og:image"
      content="https://osnaidermartinez.vercel.app/img/preview-page.webp"
    />

    <script
      src="https://kit.fontawesome.com/2898a0ac51.js"
      crossorigin="anonymous"></script>
    <title>Portafolio | José Eduardo</title>
  </head>
  <body>
    <Header />
    <Main />
    <Footer />
  </body>
</html>
